<!DOCTYPE html>
<html>
<head>
	<title>SmartSwitch</title>
	<meta http-equiv='refresh' content='2'; charset='UTF-8'>
</head>
<style>
	button{
		float: left;	
		font-size:5vw;
		width:100%;
		margin: 0% 0%;
		padding: 0% ;
		color:white;
		background-color:blue;
		border:solid;
		border-width: 1px;
		border-radius: 1px;		
		outline: none;
		transition-duration:0.1s;		
	}
	button:active {
		background-color:darkred;
	}
	button:disabled {
		background-color:antiquewhite;
		color:azure;
	}	

	.buttonActive {
		background-color:green;
	}	 
	.buttonOn {
		background-color:blue;
	}
	.buttonOff {
		background-color:red;
	}		
</style>
<body>	

DEVICES_LIST	

	<iframe style='display: none' name='hiddenFrame'></iframe>
</body>
</html>		